<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>多项选择</title>
</head>
<body>
<form>
    请选择您感兴趣的图书类型:
    <br>
    <input type="checkbox" name="book" value="Book1"> 网站编辑<br>
    <input type="checkbox" name="book" value="Book2"> 办公软件<br>
    <input type="checkbox" name="book" value="Book3"> 设计软件<br>
    <input type="checkbox" name="book" value="Book4"> 网络管理<br>
    <input type="checkbox" name="book" value="Book5"> 黑客攻防<br>
    <!--数学建模必选-->
    <input type="checkbox" name="book" value="Book6" checked> 数学建模<br>
</form>
</body>
</html>